.imporCon{
	width:100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 5px #ccc;
	overflow-y:auto;
}
.boxImpor{
	width:540px;
	height:100%;
	margin: 0 auto;
	font-size: 14px;
	color: #333333;
	font-size: 14px;
	position:relative;
}
.cklcp{
	font-size: 16px;
	color: #55a8fd;
	cursor: pointer;
}
.ImporTexe{
	padding-top: 50px;
}
.ImporTexe p{
	line-height: 30px;
}
.flisecon{
	overflow: hidden;
	margin-top: 60px;
}
.flieCss{
	border: 1px #eeeeee solid;
	float: left;
	height: 30px;
	width:430px;
	padding-top:4px;
	padding-left: 4px;
	cursor: pointer;
}
.buCss{
	background: #fa405c;
	border: 0;
	border-radius: 3px;
	float: left;
	height: 30px;
	line-height: 30px;
	color: #fff;
	padding: 0 10px;
	margin-left: 10px;
}
.buCsslv{
	width:170px;
	height: 30px;
	background: #26d186;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	padding: 0;
}
.buCsslv:hover{
	color: #fff;
}
.accountRoleBtn{
	position:relative;
	width:100%;
	height:40%;
	display: flex;
}
.dialog-footer{
	text-align: center;
	padding-bottom: 10px;
}
.commTable{
	padding-top:10px;
	min-height:90%;
}
