.detailContainer{
    width:800px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.detailLine{
    overflow: hidden;
    margin-bottom: 22px;
}
.left{
    float: left;
}
.right{
    float:right;
}
.detailInputContainer{
    font-size: 14px;
    width: 395px;
}
.title{
    color:#333;
    color: #333;
    float: left;
    width: 120px;
    text-align: right;
}
.content{
    color:#999;
    float: left;
    width: 264px;
    margin-left: 10px;
}
.detailImgDivContainer{
    margin-top: 40px;
}
.detailImgDiv{
    width: 130px;
    height: 85px;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    margin-right: 15px;
    background-size: contain;
    background-position: center;
}
.big.detailImgDiv{
    width:210px;
    height:140px;

}
.detailImgTitle{
    font-size: 14px;
}
.detailImgBtn{
    text-align: center;
    cursor: pointer;
    margin-top: 100px;
    color:#55a8fd;
}
.clear::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.detailBtn{
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    width:85px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #26d186;
    margin-left: 30px;
    font-size:14px;
}
.detailBtn.red{
    background-color: #fa405c;
}
.detailBtnContainer{
    text-align: center;
    margin-top: 120px;
}