.iformcon-con.reg2 {
    width: 680px;
    margin: 0 auto;
   
}
.returnBtn{
    float: right;
    width: 88px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #55a8fd;
    margin-top: 10px;
    margin-right: 10px;
    color: #55a8fd;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
}
em{
    font-style: normal;
}
.mustAdd{
    margin-right: 5px;
}
.time-x {
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}
.lanmp-con{
    width: 788px;
}
.lanbbag {
    background: url(../../images/atomicServicePageActive.png) no-repeat;
    width: 768px;
    height: 37px;
}
.lanbbag p {
    background: url(../../images/atomicServicePage.png) no-repeat;
    width: 768px;
    height: 37px;
}
.iformcon-con.reg2 .texet.lihei{
    line-height: 32px;
}
.time-x .texet{
    width: 100px;
    color: #333;
    font-size: 14px;
    text-align: right;
}

.time-x span {
    display: inline-block;
    vertical-align: middle;
}
.texet{
	margin-right: 12px;
}
.texet>i {
    color: #b61717;
}
.inputime{
    font-size: 14px;
}
.textArea{
    position: relative;
    color: #999999;
}
.residue{
    position: absolute;
    right: 0px;
    bottom: -10px;
    font-size: 12px;
    color: #fa405c;
}
textarea{
    resize:none;
}
.inputborder{
    background: none;
    border: 1px solid #eeeeee;
    height: 35px;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    padding-left: 5px;
    line-height: 20px;
}
.tagArea{
    margin-left: 2px;
    margin-right: 2px;
    height: 20px;
    line-height: 18px;
    min-width: 35px;
    padding: 0 2px 0 2px;
    background-color: rgba(32,160,255,.1);
    border: 1px solid rgba(32,160,255,.2);
    color: #20a0ff;
    border-radius: 5px;
}
.tagArea .icon-delete-black{
    font-size: 13px;
    cursor: pointer;
}
.butbox{
    display: inline-block;
    border: 1px solid #55a8fd;
    border-radius: 4px;
    width: 65px;
    height: 25px;
    line-height: 25px;
    color: #55a8fd;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
.wi540{
    width: 380px;
}
.mode-div{
	overflow-y: auto;
}
.inputime .css-radio{
    float: left;
    cursor: pointer;
    margin-right: 80px;
}
.css-radio.active i{
    background-position: 0 -13px;
}
.css-radio i{
    background: url(../../images/radio.png) no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.wi50{
    width: 380px;
    height: 60px;
    padding: 5px;
}
.wi550{
    width: 380px;
    height: 114px;
    padding: 5px;
}
.el-date-editor.el-input {
    width: 164px;
}
.touxi {
	overflow: auto;
}
.touxi dl {
    float: right;
    margin-left: 20px;
}
dl {
    margin-top: 0;
    margin-bottom: 20px;
}
.touxi dl dd{
    width: 272px;
    height: 162px;
    border: 1px #ccc solid;
    border-radius: 3px;
    cursor: pointer;
}
.box {
    position: relative;
}
.touxi dl dd div {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    width: 100%;
}
.box form {
    position: relative;
    top: -30px;
    height: 160px;
}
.box input{
    position: absolute;
    left: -9999px;
}

input[type=file] {
    display: block;
}
.box img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 270px;
    height: 160px;
}
img {
    vertical-align: middle;
}
.box label{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    cursor: pointer;
    height: 160px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.touxi dl dd i {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-bottom: 10px;
    background: url(../../images/addImg.png);
}
.touxi dl dd p {
    color: #999999;
    font-size: 14px;
}
.touxi dl dt label {
    display: block;
    font-weight: 400;
    margin: 10px auto;
}
.choiceLogo,.choiceBg{
    border-radius: 3px;
    border: 1px #55a8fd  solid;
    text-align: center;
    font-size: 14px;
    color: #55a8fd;
    line-height: 26px;
    height: 26px;
    width: 82px;
    cursor: pointer;
}
.hidBox{
    display: none;
}

.butonstred{
    background: #55a8fd;
    margin-left: 117px;
}
.butonst{
    background: #26d186;
}
.wi450{
    width: 310px;
    background: none;
}
.lanbag-text span{
    font-size: 14px;
}
.lanbag-text .tim2{
    margin-left:304px;
}
.lanbag-text .tim3{
    margin-left: 300px;
}
.inputime .css-radio{
    float: left;
    cursor: pointer;
    margin-right:45px;
}
.tableSelectBtn {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #ececec;
    cursor: pointer;
    margin-bottom: 5px;
}
.select.tableSelectBtn {
    width: 13px;
    height: 13px;
    background-image: url(../../images/checkBoxActive.png);
    background-repeat: no-repeat;
}
.hidBox{
    display: none;
}
.checkPicture{
    height: 30px;
}
.checkPicture .checkBtn{
    width: 220px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(22, 155, 213, 1);
    float: left;
    cursor: pointer;
}
.checkPicture span{
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 6px;
}
.userImg{
    width: 64px;
    height: 64px;
}
.clear{
    margin-top: 50px;
}
.clear li{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
    cursor: pointer;
    float: left;
    border: 1px solid rgba(247, 0, 255, 0);
    position: relative;
}
.clear li i{
    position: absolute;
    color: #999999;
    right: -9px;
    top: -9px;
    display: none;
}
.clear .checkActive .deleteBtn{
    display: inline-block;
}
.clear li i::before{
    background-color: #fff;
    border-radius: 50%;
}
.clear li:hover{
    border:1px solid #55a8fd;
    box-shadow:0px 0px 1px 1px #74a6fa;
}
.clear .checkActive{
    border:1px solid #55a8fd;
    box-shadow:0px 0px 1px 1px #74a6fa;
}
.clear::after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both
}
.dialog-footer button{
    width: 68px;
    height: 28px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
}
.confirmBtn{
    background: rgba(22, 155, 213, 1);
    border: 1px solid rgba(22, 155, 213, 1);
    color: #fff;
    margin-right: 30px;
}
.resetBtn{
    color: #999999;
    background: #fff;
    border: 1px solid #999999;
}

.ifrmcomstyle{
    width: 700px;
    margin: 0 auto;
}
.widthFrom{
    width: 500px;
}