#forgetPassword{
  height: 100%;
  overflow: auto;
}
#forgetPassword .btn{
  position: relative;
  left:50%;
  transform: translateX(-50%);
  color: #fff;
}
#forgetPassword .btn:hover{
  color: #fff;
}
.am-fp-top{
  height: 65px;
  width: 100%;
  background-color: #0B2653;
  position: fixed;
  top:0;
}
.am-fg-img{
  background: url("../images/isCloud.png") center center/cover no-repeat ;
  width:156px;
  height: 50px;
  position: absolute;
  left:77px;
  top: 8px;
  cursor: pointer;
}
.am-fg-control{
  height: 25px;
  position: absolute;
  right: 85px;
  top: 24px;
  text-align: right;
}
.am-fg-control span:last-child{
  color: #fff;
  display: inline-block;
  padding-left: 9px;
}
.am-fg-control span:last-child em{
  font-style: normal;
  color: #FD7400;
  cursor: pointer;
}
.am-fg-control span:last-child i{
  /*width: 0;*/
  /*height: 0;*/
  display: inline-block;
  font-size: 12px;
  position: relative;
  /*left: 5px;*/
  /*top: 11px;*/
}
.am-title{
  margin:138px 0 0 250px;
  font:normal 600 15px "sans-serif";
}
.am-area-progress{
  width: 480px;
  margin:40px auto;
}
.am-area-detail{
  width: calc(100% - 200px);
  height: 250px;
  border:1px solid transparent;
  margin:0 auto;
}
.am-area-name{
  width: 598px;
  position: relative;
  left: -59px;
}
.am-area-name span{
  display: inline-block;
  width:25%;
  height: 20px;
  text-align: center;
  line-height:20px;
  color: gray;
}
.am-progress-info{
  height: 32px;
  background: url("../images/step4-2.png") no-repeat;
}
.am-progress-info p.am-p-1{
  display: inline-block;
  background: url("../images/step4-1.png")  no-repeat;
  width:5.99%;
  height: 100%;
}
.am-progress-info p.am-p-2{
  display: inline-block;
  background: url("../images/step4-1.png")  no-repeat;
  width:37%;
  height: 100%;
}
.am-progress-info p.am-p-3{
  display: inline-block;
  background: url("../images/step4-1.png") no-repeat;
  width:68.5%;
  height: 100%;
}
.am-progress-info p.am-p-4{
  display: inline-block;
  background: url("../images/step4-1.png")  no-repeat;
  width:100%;
  height: 100%;
}
.am-span-1 span{
  display: inline-block;
  text-align: center;
  padding-top: 12px;
}
.am-span-1 span:nth-child(1){
  color: #0083EF;
}
.am-span-2 span:nth-child(-n+2){
  color: #0083EF;
}
.am-span-3 span:nth-child(-n+3){
color: #0083EF;
}
.am-span-4 span:nth-child(-n+4){
  color: #0083EF;
}
.am-area-box1{
  height:39%;
  width: 75%;
  margin:25px auto;
}
.am-area-box1 .el-row{
  height: 50%;
}
.am-area-box1 .el-row .am-el-right,.am-area-box1 .el-row .am-el-right1{
  text-align: right;
}
.am-area-box1 .el-row .am-el-right span{
  height: 30px;
  display: inline-block;
  line-height: 30px;
}
.am-area-box1 .el-row .am-el-right1 span{
  height: 30px;
  display: inline-block;
  line-height: 30px;
}
.am-area-box1 .el-row .am-el-right span::before{
  content: '*';
  color: red;
  margin-right: 5px;
}
.am-area-box1 .el-row input{
  border:1px solid #ddd;
  border-radius: 3px;
  padding-left: 5px;
}
.am-input-1{
  width: 228px;
  height: 30px;
  outline: none;
}
.am-input-2{
  width: 120px;
  height: 30px;
  outline: none;
}
.am-area-box1 .el-row .am-input-1:focus{
  border: 1px solid #55a8fd;
  box-shadow: 0 0 2px #55a8fd;
}
.am-area-box1 .el-row .am-input-2:focus{
  border: 1px solid #55a8fd;
  box-shadow: 0 0 2px #55a8fd;
}
.am-img-src{
  display: inline-block;
  width: 96px;
  height: 28px;
  position: relative;
  top: -1px;
  /*border: 1px solid gray;*/
  vertical-align: bottom;
  margin-left: 12px;
}
.am-img-src~span{
  color: #2F99FD;
  margin-left: 7px;
  cursor: pointer;
  user-select: none;
}
.am-div-info{
  height: 30px;
  line-height: 30px;
}
#forgetPassword .am-msg-button{
  display: inline-block;
  width: 96px;
  height: 30px;
  line-height:30px;
  text-align: center;
  color: #fff;
  vertical-align: top;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 10px;
}
.am-area-box11{
  height:39%;
  width: 75%;
  margin:59px auto;
  padding: 48px 0 0 0;
  text-align: center;
  font-size: 16px;
}
.am-area-box11 em{
  font-style: normal;
  color: #2F99FD;
  cursor: pointer;
  font-weight: 600;
}
#forgetPassword .am-msg-default{
cursor: default;
  background-color: #ccc;
  border: none;
}
.am-col-3{
  width: 30%;
  position: absolute;
  line-height: 30px;
  top: 0;
  right: 42px;
}
.am-col-3 span img{
  height: 14px;
  width: 14px;
  transform: translate(2px, -2px);
  margin-right: 4px;
}
.am-loading-img{
  position: absolute;
  top: 7px;
  left: 0;
}
.am-imgError{
  height: 14px;
  width: 14px;
  transform: translate(2px, -2px);
  margin-left: 11px;
  margin-right: 2px;
}
.am-imgError+em{
  font-style: normal;
}
#forgetPassword .am-area-box1 .am-error{
  border-color: #fa3753;
}