*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: "微软雅黑";
}
.el-carousel.appLunBuo>.el-carousel__container{
	height: 100%;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
button,
input,
input{
	list-style: none;
	border:0;
	outline: none;
}
.row{
	margin: 0;
}
a{
	text-decoration: none;
	color:#fff;
}
/*应用系统配置页图标*/
.publicLeftNavImage.appImgConfig{
    background-image: url("../images/appImgConfig.png");
}
.publicLeftNavImage.appNavConfig{
    background-image: url("../images/appMenuConfig.png");
}
.publicLeftNavImage.appBannerImgConfig{
    background-image: url("../images/appBannerImgConfig.png");
}
.publicLeftNavImage.appNoticConfig{
    background-image: url("../images/appNoticConfig.png");
}

.publicLeftNavImage.appKeyWordsConfig{
    background-image: url("../images/appKeyWordsConfig.png");
}
.publicLeftNavImage.appHotConfig{
    background-image: url("../images/appHotConfig.png");
}
.publicLeftNavImage.appSpecialConfig{
    background-image: url("../images/appSpecialConfig.png");
}

.publicLeftNavImage.appNewServiceConfig{
    background-image: url("../images/appNewServiceConfig.png");
}
.publicLeftNavImage.appFriendshipLinkConfig{
    background-image: url("../images/appFriendshipLinkConfig.png");
}
