* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 清除浮动 */
.clearfix:after{
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
}
.clearfix {
    zoom: 1; 
}
.user-list {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

/* ------------------ 标题 start ------------------ */

.user-list h2 {
    position: relative;
    color: #757F8B;
    font-size: 12px;
    font-weight: 500;
}
.user-list h2:before {
    position: absolute;
    left: -6px;
    top: 2px;
    content: "";
    width: 2px;
    height: 10px;
    background-color: #2ca3ee;
}

/* ------------------ 标题 end ------------------ */

/* ------------------ 搜索 start ------------------ */
.user-list .search {
    margin-top: 13px;
}
.user-list .search>div {
    float: right;
}
.user-list .search .user-name {
    float: left;
    width: 264px;
    height: 30px;
    text-align: left;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}
.search .user-name input {
    width: 236px;
    height: 18px;
    border: none;
    margin-top: 5px;
    padding-left: 5px;
}
input::-webkit-input-placeholder {
    font-size: 12px;
    color: #CCCCCC;
}
.search .user-name .icon-sousuo11 {
    font-size: 18px;
    color: #CCCCCC;
}
.user-list .search .personal {
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 12px;
    color: #666666;
}
.search .personal span:last-child {
    color: orange;
}
.user-list .search .company {
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 12px;
    color: #666666;
}
.search .company span:last-child {
    color: orange;
}
.user-list .search .export {
    position: relative;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    color: #666666;
    font-size: 12px;
    cursor: pointer;
}
.search .export>i {
    position: absolute;
    top: 3px;
    left: 2px;
    font-size: 18px;
}
.user-list .search .user-name>i:hover {
    cursor: pointer;
}

/* ------------------ 搜索 end ------------------ */

/* ------------------ 表格 start ------------------ */

.user-list .content {
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.user-list .content table {
    width: 100%;
    border-radius: 4px 0 0 0;
}
.user-list .content table,tr,th,td {
    font-size: 12px;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
}
.content table th {
    width: 33.33%;
    height: 35px;
    background: #F8FAFB;  
}
.content table th:first-child {
    border-radius: 4px 0 0 0;
}
.content table td {
    width: 33.33%;
    height: 50px;
}

/* ------------------ 表格 end ------------------ */

/* ------------------ 未查找到相关数据 start ------------------ */

.content .isDate {
    text-align: center;
}
.content .isDate img {
    margin-top: 70px;
    width: 150px;
}
.content .isDate p {
    margin-top: 10px;
    font-size: 16px;
    color: #333333;
}

/* ------------------ 未查找到相关数据 end ------------------ */